@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

main {
    width: 800px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.text-headings {
    display: flex;
    flex-direction: column;
}

span {
    color: #009879;
    padding: 0px 5px;
}

.container {
    overflow-x: auto;
}

.main-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: thin solid #009879;
    border-spacing: 5px;
    margin: 0 auto;
}

#heading {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.main-table th, .main-table td {
    padding: 12px 15px;
}

.main-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.main-table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.main-table tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.main-table tr.active {
    font-weight: bold;
    color: #009879;
}